@import 'tailwindcss';

:host {
  @apply border border-gray-300 rounded-lg p-4 shadow-md bg-white;

  .card-header {
    @apply text-2xl font-bold mb-4;
  }

  .user-detail-form {
    @apply flex flex-col;
    .form-group {
      @apply mb-4 flex flex-col;
      .form-group-row {
        @apply flex md:flex-row flex-col;
        label {
          @apply block font-bold mb-1 w-32 shrink-0;
        }
        input {
          @apply border border-gray-300 rounded px-2 py-1 w-full;
        }
      }
      .validation-error {
        @apply text-red-500 text-sm mt-1;
      }
    }

    .save-button {
      @apply bg-green-500 text-white font-bold py-2 px-4 rounded cursor-pointer self-start;

      &:disabled {
        @apply bg-gray-400 cursor-not-allowed;
      }
    }
  }
}
